{% extends "base.html" %}

{% block content %}

<div style="text-align:center; margin:40px; font-size:30px;">
  Welcome to your student profile, {{ user.first_name }}.
</div>

<div>
  <div id="SummaryColumn" style="width:500px;">
    
    <div style="border-bottom-style:solid; border-width: 1px;">
      <table style="width:100%;">
        <tr >
          <td>
            Contact Info
          </td>
          <td>
            <div style="text-align:right;">
              edit
            </div>
          </td>
        </tr>
      </table>
    </div>
    
    <div>
      Phone #: {{ user.phone_number }}
    </div>
    <div>
      Email: {{ user.email }}
    </div>
    <div>
      Address: {{ user.address }}
    </div>
  </div>
</div>

{% endblock %}

