{% extends "base.html" %}

{% block content %}
<div id="contentDiv" style="width:800px; margin-left:auto; margin-right:auto; margin-top:30px;">
  <div style="font-size:35px; padding-right:20px;">
    {{ user.get_full_name }}
  </div>
  
  <div style="float:left; width:190px;">
    <div style="background-color:white; width:160px; height:160px; border:1px solid black; line-height:160px; text-align:center;">
      <span style="color:gray;">
        profile image
      </span>
    </div>
    <span class="TextSubtleStyle">
      student profile
    </span>
  </div>

  <div style="float:left; width:610px;">
    <table style="width:100%;">
      <tr >
        <td>
          <span class="TextTitle2Style">
            Contact Info
          </span>
        </td>
        <td style="text-align:right; vertical-align: bottom;">
          <span class="TextNormalStyle">
            <a href="/profile/edit/"> 
              edit
            </a>
          </span>
        </td>
      </tr>
    </table>
    
    <div class="Divider"></div>
    
    <div class="SpacerMedium"></div>
    
    <div class="TextNormalStyle">
      Phone #: {{ user.phone_number }}
      
      <div class="SpacerSmall"></div>
      
      Email: {{ user.email }}
      
      <div class="SpacerSmall"></div>
      
      Address: {{ user.address }}
    </div>
  </div>
</div>

{% endblock %}

