{% extends "base.html" %}

{% block content %}
<div id="contentDiv" style="width:800px; margin-left:auto; margin-right:auto; margin-top:30px;">
  <div class="TextTitle1Style">
    Terms of Use
  </div>

  <div class="TextNormalStyle">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque lorem elementum, ultrices leo non, ultrices dui. Morbi at lobortis libero. Donec quam leo, consequat ac luctus at, feugiat vitae urna. Duis vel dictum nibh. Maecenas porta venenatis accumsan. Vivamus suscipit libero urna, ut ullamcorper lacus aliquam non. In eget tristique velit. Sed mattis nibh dapibus enim tincidunt, in sagittis mi accumsan. Duis odio tellus, fringilla in enim ut, scelerisque consectetur mauris.
  </p>
  <p>
    Synthetica. Proin nec turpis non tellus venenatis gravida. Cras sagittis massa eu pellentesque adipiscing. Maecenas tempus consequat pellentesque. Mauris vitae congue nibh. Vestibulum facilisis lorem a volutpat sodales. Morbi id elementum ligula. Proin ultrices interdum ultricies. Nam gravida nibh ac pretium congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent et malesuada magna. Praesent eleifend eros risus, quis placerat odio eleifend ut. Vestibulum at leo vitae sapien pellentesque accumsan. Phasellus ante odio, ultricies non vehicula sit amet, placerat id risus. Aenean ac ultrices justo. Integer eu magna eros. Vestibulum mollis urna lorem, vel ultricies orci dapibus quis.
  </p>
  <p>
    Suspendisse potenti. Pellentesque lacinia sem vitae felis ultrices, sit amet ultricies metus pellentesque. Donec massa lorem, vulputate ac lacinia eu, tempor a ipsum. Aliquam erat volutpat. Integer eu augue lacus. Praesent ipsum lorem, euismod non congue vitae, euismod ac eros. Duis vulputate enim ut ligula molestie lobortis.
  </p>
  <p>
    Aliquam nisi libero, ullamcorper nec sagittis eget, vestibulum sit amet felis. Metric. Pellentesque egestas in velit laoreet consequat. Etiam lectus elit, vulputate ac scelerisque non, condimentum ut tortor. Praesent eget eros justo. Curabitur tempus posuere mi ac pulvinar. Maecenas ultricies erat et pretium pretium. Phasellus lacus diam, adipiscing sed purus sit amet, aliquam consectetur quam. Aenean viverra scelerisque nisi, a egestas metus condimentum vel. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec scelerisque nibh, in aliquet nibh. In vestibulum rutrum aliquam. Sed eget justo ullamcorper, tincidunt massa vel, ultrices sem. Nullam rutrum sed risus id adipiscing. Suspendisse convallis est sit amet orci tincidunt egestas. Nunc volutpat, diam in pellentesque sollicitudin, enim magna ultricies est, non faucibus tellus massa a diam.
  </p>
  <p>
    Vestibulum et sagittis tortor, vel ullamcorper nibh. Aenean at lorem nec elit scelerisque faucibus in in ante. Sed posuere ante sed tempus ullamcorper. Phasellus tristique tortor quis lacinia consequat. Fusce malesuada est quis dolor aliquet pulvinar. Nam non semper dolor. Praesent ligula urna, lacinia id aliquet in, porttitor non mi. Nulla facilisi.
  </p>
  </div>
</div>
{% endblock %}
