<!DOCTYPE html>
<html>
<head>
    <title> InternNest </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/internnest.css">
    
    <script type="text/javascript" src="/static/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/static/controls.js"></script> 
</head>

<body style="">
    
    <div style="width:100%; height:50px; background-color:#E285FF;">
      Intern Nest
    </div>

    {{ test_message }}
    
    {% block content %}
    {% endblock %}
    
</body>
</html>