{% extends "base.html" %}

{% block content %}

<div style="margin-left:auto; margin-right:auto; width:840px;">
  <div style="float:left; margin-right:50px; width:320px;">
    <div class="TextTitle1Style">
      Sign Up
    </div>
    <div class="SpacerMedium"></div>

    {% if register_error_message %}<p><span style="color:red;">{{ register_error_message }} </span></p>{% endif %}


    <form action="/register/" method="post">
    {% csrf_token %}
    
        <div class="TextNormalStyle">
          First Name
        </div>
        <div>
          <div class="textboxPlaceholder"> First </div>
          <input class="textboxWithPlaceholder" type="text" name="firstName" value="{{ first_name }}"/>
        </div>
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Last Name
        </div>
        <div>
          <div class="textboxPlaceholder"> Last </div>
          <input class="textboxWithPlaceholder" type="text" name="lastName" value="{{ last_name }}"/>
        </div>
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Email
        </div>
        <div>
          <div class="textboxPlaceholder"> someone@example.com </div>
          <input class="textboxWithPlaceholder" type="email" name="email" maxlength="113" value="{{ email }}"/>
        </div>
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Re-enter Email
        </div>
        <div>
          <div class="textboxPlaceholder"> someone@example.com </div>
          <input class="textboxWithPlaceholder" type="email" name="email2" maxlength="113" value="{{ email2 }}"/>
        </div>
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Password
        </div>
        <div>
          <div class="textboxPlaceholder"> Password </div>
          <input class="textboxWithPlaceholder" type="password" name="password" maxlength="16"/>
        </div>
        <div class="SpacerMedium"></div>

        <div class="TextNormalStyle">
          Re-enter Password
        </div>
        <div>
          <div class="textboxPlaceholder"> Password </div>
          <input class="textboxWithPlaceholder" type="password" name="password2" maxlength="16"/>
        </div>
        <div class="SpacerMedium"></div>
        
        By clicking the sign up button, you agree to our <a href="#">terms</a>
        
        <div class="SpacerLarge"></div>
        <input type="submit" value="Sign Up"/>
        
        
        <input type="hidden" name="userType" id="userType" value="{{ user_type }}" />
    </form>
  </div>

  <div style="float:left; margin-left:50px; width:320px;">
    <div class="TextTitle1Style">
      Login
    </div>
    <div class="SpacerMedium"></div>
    
    {% if login_error_message %}
      <p><span style="color:red;">
        {{ login_error_message }}
      </span></p>
    {% endif %}
    
    <form action="/register/login/" method="post">
    {% csrf_token %}
        <div class="TextNormalStyle">
          Email
        </div>
        <div>
          <div class="textboxPlaceholder"> someone@example.com </div>
          <input class="textboxWithPlaceholder" type="email" name="email" maxlength="113"/>
        </div>
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Password
        </div>
        <div>
          <div class="textboxPlaceholder"> Password </div>
          <input class="textboxWithPlaceholder" type="password" name="password" maxlength="16"/>
        </div>
        <div class="SpacerLarge"></div>
        
        <input type="submit" value="Sign in"/>
        
        <input type="hidden" name="userType" id="userType" value="{{ user_type }}" />
    </form>
    
  </div>
  <div class="clear"></div>  
</div>

{% endblock %}

