{% extends "base.html" %}

{% block content %}

<div style="margin-left:auto; margin-right:auto; width:840px;">
  <div style="float:left; margin-right:50px; width:320px;">
    <div class="TextTitle1Style">
      Sign Up
    </div>
    <div class="SpacerMedium"></div>

    <form action="/register/" method="post">
      {% csrf_token %}
    
        <div class="TextNormalStyle">
          First Name
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> First </div>
          {{ register_form.first_name }}
        </div>
        {% if register_form.first_name.errors %}
          <div class="TextErrorStyle">
            {{ register_form.first_name.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Last Name
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> Last </div>
          {{ register_form.last_name }}
        </div>
        {% if register_form.last_name.errors %}
          <div class="TextErrorStyle">
            {{ register_form.last_name.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Email
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> someone@example.com </div>
          {{ register_form.email }}
        </div>
        {% if register_form.email.errors %}
          <div class="TextErrorStyle">
            {{ register_form.email.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Re-enter Email
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> someone@example.com </div>
          {{ register_form.email2 }}
        </div>
        {% if register_form.email2.errors %}
          <div class="TextErrorStyle">
            {{ register_form.email2.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Password
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> Password </div>
          {{ register_form.password }}
        </div>
        {% if register_form.password.errors %}
          <div class="TextErrorStyle">
            {{ register_form.password.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>

        <div class="TextNormalStyle">
          Re-enter Password
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> Password </div>
          {{ register_form.password2 }}
        </div>
        {% if register_form.password2.errors %}
          <div class="TextErrorStyle">
            {{ register_form.password2.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle" >
          Birthday
        </div>
        <div style="background-color:white"> 
          {{ register_form.birthday }}
        </div>
        {% if register_form.birthday.errors %}
          <div class="TextErrorStyle">
            {{ register_form.birthday.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        By clicking the sign up button, you agree to our <a href="#">terms</a>
        
        <div class="SpacerLarge"></div>
        <input type="submit" value="Sign Up"/>
        
        <input type="hidden" name="user_type" id="user_type" value="{{ user_type }}" />
        
        {{ register_form.user_type }}
    </form>
  </div>

  <div style="float:left; margin-left:50px; width:320px;">
    <div class="TextTitle1Style">
      Login
    </div>
    <div class="SpacerMedium"></div>
    
    {% if login_error_message %}
      <p><span style="color:red;">
        {{ login_error_message }}
      </span></p>
    {% endif %}
    
    <form action="/register/login/" method="post">
    {% csrf_token %}
        <div class="TextNormalStyle">
          Email
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> someone@example.com </div>
          {{ login_form.email }}
        </div>
        {% if login_form.email.errors %}
          <div class="TextErrorStyle">
            {{ login_form.email.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerMedium"></div>
        
        <div class="TextNormalStyle">
          Password
        </div>
        <div style="position:relative;">
          <div class="textboxPlaceholder"> Password </div>
          {{ login_form.password }}
        </div>
        {% if login_form.password.errors %}
          <div class="TextErrorStyle">
            {{ login_form.password.errors.as_text }}
          </div>
        {% endif %}
        <div class="SpacerLarge"></div>
        
        <input type="submit" value="Sign in"/>
        
        <input type="hidden" name="user_type" id="user_type" value="{{ user_type }}" />
    </form>
    
  </div>
  <div class="clear"></div>  
</div>

{% endblock %}

