html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, form, fieldset, embed, object, applet{
	margin: 0;
	padding: 0;
	border: 0;
}

html, body{
	height: 100%;
}

body{
	font-family: "Segoe UI", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size:14px;
	color: #000000;
	background-color: whitesmoke;
}

/* -----------------------------------------------------

------------------COMMON ELEMENTS BEGINS----------------

--------------------------------------------------------*/

ul {
	list-style: none;
}

h1, h2, h3{
	padding: 0 10px 0 0;
	font-weight: normal;
}

h4, h5, table{
	font-size: 1em;
}

a, a:visited {
	color: #1080DD;
	text-decoration: none;
}

a:hover{
	color: #0C5999;
}


input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
	display: inline-block;
	margin: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	width: 14px;
	height: 14px;
	margin-top: 0;
	cursor: pointer;
	vertical-align: bottom;
	background: white;
	border: 1px solid #BABABA;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

select{
	height: 32px;
	padding: 5px;
}

.clear{
	clear:both;
}

.inlineBlock{
	display: inline-block;
}

.relative{
	position: relative;
}

i{
	display: inline-block;
	zoom: 1;
	vertical-align: text-top;
	/*background: url(../img/twitter_web_sprite_icons.png) no-repeat 0px 0px;*/
}

.titleh2, .titleh3{
	color: #1080DD;
}

.title3{
	font-size: 22px;
	font-weight: 500;
	line-height: 28px;
	color: #464646;
	margin: 16px auto 0 auto;
}

.titleh2{
	margin-bottom: 20px;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1;
}

table{
	border-collapse: collapse;
	border-width: 0;
	empty-cells: show;
}

.container{
	width: 830px;
	height: 100%;
	min-width: 830px;
	margin: 0px auto;
	position:relative;
}

.rounded3{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.shadow{
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
}

.shadow:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: inset none;
}

.transition{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.leftShadow{
	-webkit-box-shadow: -5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	box-shadow: -5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: -5px 0px 8px -6px rgba(0,0,0,.35);
}

.rightShadow{
	-webkit-box-shadow: 5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	box-shadow: 5px 0px 8px -6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 5px 0px 8px -6px rgba(0,0,0,.35);
}

.allShadow{
	-webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 21px -6px rgba(0,0,0,.35);
}

.mainHeader{
	height: 20px;
}

.headerCommon{
	min-width: 815px;
	background-color: #D8D8D8;
}

.subHeader{
	height: 66px;
	padding: 20px 15px;
}

.mainSubTitle{
	padding-top: 0px;
}

.subTitleCommon{
	display: block;
	font-size: 12pt;
	text-transform: uppercase;
	color: white;
}

#start-dom{
	min-height: 100%;
	position: relative;
}

/* example of the layout center-fixer in action */
#page{
	background-color: whitesmoke;
	width: 100%;
	min-width: 845px;
	padding-bottom: 35px;
	text-align: center;
}

.sectionDivider{
	padding: 50px 0 0;
	border-top: 2px solid #d0d0d0;
}

.actionButton{
	display: inline-block;
	padding: 16px 39px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
	font-weight: 500;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	border: none;
	background-color: #E285FF;
}

.actionButton:hover{
	background-color: #AF7BBF;
}

.actionButton, .actionButton:hover,.actionButton:visited{
	color: white;
}

.buttonGradient{
	background-image: -khtml-gradient(linear,left top,left bottom,from(#E285FF),to(#AF7BBF));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E285FF),color-stop(100%,#AF7BBF));
	background-image: -moz-linear-gradient(top, #E285FF 0%, #AF7BBF 100%);
	background-image: -webkit-linear-gradient(top, #E285FF 0%, #AF7BBF 100%);
	background-image: -o-linear-gradient(top, #E285FF 0%, #AF7BBF 100%);
	background-image: -ms-linear-gradient(top, #E285FF 0%, #AF7BBF 100%);
	background-image: linear-gradient(to bottom, #E285FF 0%, #AF7BBF 100%);
}

.buttonGradient:hover{
	background-image: -khtml-gradient(linear,left top,left bottom,from(#AF7BBF),to(#E285FF));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#AF7BBF),color-stop(100%,#E285FF));
	background-image: -moz-linear-gradient(top, #AF7BBF 0%, #E285FF 100%);
	background-image: -webkit-linear-gradient(top, #AF7BBF 0%, #E285FF 100%);
	background-image: -o-linear-gradient(top, #AF7BBF 0%, #E285FF 100%);
	background-image: -ms-linear-gradient(top, #AF7BBF 0%, #E285FF 100%);
	background-image: linear-gradient(to bottom, #AF7BBF 0%, #E285FF 100%);
}

/* -----------------------------------------------------

------------------COMMON ELEMENTS ENDS------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

------------------TAB ELEMENTS BEGINS-------------------

--------------------------------------------------------*/

.tabs-bg {
	width: 100%;
	background-color: #D8D8D8;
	padding-top: 25px;
}

.tabs{
	overflow: hidden;
}

.tabs li {
	float: left;
}

.tabs a {
	float: left;
	padding: 10px 20px;
	margin-right: 2px;
	color: #1080DD;
	background-color: #E8E7E5;
	font-size: 15px;
	font-family: arial;
	/*box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.2) inset;*/
	border-top: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-left: 1px solid #D0D0D0;
	font-size: 13px;
}

.tabs a:hover {
	color: #0C5999;
}

.tabCentered{
	width: 670px;
	margin: 0px auto;
}

.tabs a.tabActive {
	color: #0C5999;
	background-color: whitesmoke;
	box-shadow: none;
}

.tabContent{
	padding: 36px 0 40px;
	/*box-shadow: 0 -5px 16px rgba(0, 0, 0, 0.25);*/
}

.tabMore{
	display: inline-block;
	text-align: left;
}

/* -----------------------------------------------------

------------------TAB NAVIGATION ENDS-------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

------------------TOP NAVIGATION BEGINS-----------------

--------------------------------------------------------*/

.tophub{
	position: relative;
	min-width: 845px;
	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 5px 8px rgba(0,0,0,.35);
	z-index: 2;
}

.topnav{
	position: relative;
	min-width: 845px;
	background-color: #E285FF;
	height: 50px;
}

.navLeft, .naviItem{
	float: left;
}

.navLeft{
	margin-right: 12px;
}

.naviItem{
	padding: 5px 0px;
}

.naviLink, .naviLink:visited{
	display: block;
	height: 12px;
	padding: 13px 12px 15px;
	margin: 0px 12px;
	/*font-weight: bold;*/
	line-height: 1;
	color: #ffffff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);*/
	font-size: 13px;
	text-transform: uppercase;
}

.naviItem, .naviLink, .naviLink:visited{
	position: relative;
}

.naviLink:hover{
	color: #1080dd;
}

.naviLogoLink{
	padding-left: 0px;
	padding-right: 0px;
}

.mainLogo{
	text-decoration: none;
	background: url(../img/intanLogo.png) no-repeat;
	width: 170px;
	height: 28px;
	display: inline-block;
	margin-top: 9px;
}

.naviImage{
	float: left;
	margin: -4px 6px 0 0;
}

.navRight{
	float: right;
	margin-left: 6px;
	margin-right: 0;
	margin-top: 0px;
}

.caret{
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left: 5px;
	vertical-align: top;
	border-top: 6px solid white;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.dropDownLink:hover .caret{
	border-top-color: #1080dd;
}

/* -----------------------------------------------------

------------------TOP NAVIGATION ENDS-------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

------------------BANNER BEGINS-------------------------

--------------------------------------------------------*/

.banner{
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: white;
	color: white;
	height: 300px;
	min-width: 845px;
}

.bannerWide{
	position: absolute;
	left: 50%;
	height: 100%;
	width: 1600px;
	margin-left: -800px
}

#slides {
	overflow: hidden;
}

#slides li{
	position: absolute;
	top: 0;
	left: 0;
}

.mask{
	position: absolute;
	display: inline-block;
	height: 100%;
	width: 80px;
	top: 0;
	z-index: 1;
}

.maskLeft {
	left: 0;
	background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.maskRight{
	right: 0;
	background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
}

.bannerNormal{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.bannerPager a {
	position: absolute;
	z-index: 1;
	top: 38%;
	width: 52px;
	height: 52px;
	background-image: url("../img/navIcons.png");
	cursor: pointer;
}

.bannerCentered {
	width: 830px;
	margin: 0 auto;
	vertical-align: middle;
	height: 100%;
	position: relative;
}

.pagerPrevious {
	left: -72px;
	background-position: 0 -455px;
}

.pagerPrevious:hover {
	background-position: -60px -455px;
}

.pagerNext {
	right: -72px;
	background-position: -120px -455px;
}

.pagerNext:hover{
	background-position: -180px -455px;
}
.bannerHeading {
	top: 65px;
	position: absolute;
}

#headings li {
	position: absolute;
}

.bannerNormal h1 {
	width: 560px;
	font-size: 54px;
	line-height: 55px;
	font-weight: 700;
	color: #141414;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}

.bannerCaption{
	position: absolute;
	bottom: 0;
	padding: 13px 0 9px;
	color: white;
	zoom: 1;
}

/*-------------- CURLS Banner for other pages --------------*/

.centeredCurl {
	padding: 23px 0;
	text-align: center;
	background: #F9F8F6 url("../img/tile-gray.png");
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.curls {
	position: relative;
	text-transform: uppercase;
}

.curls::before {
	left: 6px;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.curls::before, .curls::after {
	position: absolute;
	width: 40%;
	height: 10px;
	bottom: 14px;
	background: transparent;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.curls::after {
	right: 6px;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

/* -----------------------------------------------------

------------------BANNER ENDS---------------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

-------------MAIN PAGE HIGHLIGHTS BEGINS----------------

--------------------------------------------------------*/

.centeredHighlights{
	display: inline-block;
}

.highlight{
	float: left;
	width: 203px;
	margin-right: 28px;
	margin-bottom: 28px;
	/*-moz-box-shadow: 0px 0px 10px 1px #CCC;
	-webkit-box-shadow: 0px 0px 10px 1px #CCC;
	box-shadow: 0px 0px 10px 1px #CCC;*/
	height: 320px;
}

.highlightImageContainer {
	line-height: 0px;
	position: relative;
}

.highlightTextContainer{
	text-align: center;
}

.highlightTitles {
	margin-bottom: 4px;
}

.highlightText{
	height: 40px;
}

.highlightLink {
	margin-top: 10px;
	text-transform: uppercase;
}

/* -----------------------------------------------------

-------------MAIN PAGE HIGHLIGHTS ENDS------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

--------------SIGN IN/UP ELEMENT BEGINS-----------------

--------------------------------------------------------*/

.signIn{
	float: left;
	width: 345px;
}

.signUp{
	float: left;
	width: 485px;
}

.signInBoxH2{
	font-size: 16px;
	line-height: 17px;
	margin: 0 0 1.2em;
	position: relative;
}

.fbSignIn{
	margin: 0px auto;
	display: block;
}

.signInDivider{
	margin-top: 16px;
	font-size: 16px;
	line-height: 17px;
}

.signInBox, .signUpBox {
	padding-top: 16px;
}

.signInBox div {
	margin: 0 0 1.5em;
}

.signInBox label {
	display: block;
}


.signUpBox{
	width: 335px;
}

.loginEmailLabel, .loginPasswdLabel , .signupFNameLabel, .signupLNameLabel, .signupEmailLabel, .signupPasswdLabel, .signupBdayLabel{
	margin: 0 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.signInBox input[type="email"], .signInBox input[type="text"], .signInBox input[type="password"] {
	width: 100%;
	height: 32px;
	font-size: 15px;
	direction: ltr;
	color: #212121;
	border: 1px solid #BABABA;
	background-color: rgba(255, 255, 255, 0.8);
}

.signInBox input[type="button"], .signInBox input[type="submit"]{
	height: 2.142em;
	min-width: 6em;
	font-size: 100%;
	background-color: #E285FF;
	color: white;
	padding: 3px 12px 5px;
	margin: 0 1.5em 1.2em 0;
	border: 0px;
}

.signInBox input[type="button"]:hover, .signInBox input[type="submit"]:hover{
	background-color: #882BA6;
}

.signInBox label.loginRememberLabel {
	display: inline-block;
	vertical-align: middle;
	margin: 3px 0 0;
}

.loginRemember {
	color: #666;
	line-height: 0;
	padding: 0 0 0 .4em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.signupFNameDiv, .signupLNameDiv {
	width: 160px;
	display: inline-block;
}

.signupFNameDiv {
	padding-right: 5px;
}

.signupLNameDiv {
	padding-left: 5px;
}

.signupTerms{
	font-size: 11px;
}

/* -----------------------------------------------------

--------------SIGN IN ELEMENT ENDS----------------------

--------------------------------------------------------*/

/* -----------------------------------------------------

------------------FOOTER ENDS---------------------------

--------------------------------------------------------*/
/*
.footer{
	text-align: center;
	bottom: 30px;
	width: 100%;
	color: white;
	background-color: black;
	height: 50px;
	font-size:8pt;	
	padding-top: 10px;
	min-width: 845px;
	border-top: 1px solid #ebebeb;
}
*/

.footer{
	border-top: 1px solid #ebebeb;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #6c6d6c;
	height: 35px;
	font-size: 8pt;
	padding-top: 10px;
	min-width: 845px;
	position: absolute;
}

.footer .naviLink{
	display: inline;
	padding-bottom: 0px;
	color: #6c6d6c;
}

/* -----------------------------------------------------

------------------FOOTER ENDS---------------------------

--------------------------------------------------------*/

/* Comment out

*/