{% extends "base.html" %}

{% block content %}

<div id="contentDiv" style="width:800px; margin-left:auto; margin-right:auto; margin-top:30px;">
  <div style="float:left; width:190px;">
    <div class="TextTitle1Style">
      Create Job
    </div>
  </div>
  
  <div style="float:left; width:610px;">
    <div class="TextTitle2Style">
      Summary
    </div>
    <div class="SpacerMedium"></div>
    
    <div class="TextNormalStyle">
      Title
    </div>
    <div style="width:320px; position:relative;">
      <div class="textboxPlaceholder"> Environmental safety intern </div>
      <input class="textboxWithPlaceholder" type="text" name="jobTitle" />
    </div>
    <div class="SpacerMedium"></div>
    
    <div class="TextNormalStyle">
      Duration
    </div>
    <div style="width:320px; position:relative;">
      <div class="textboxPlaceholder"> 3 months </div>
      <input class="textboxWithPlaceholder" type="text" name="duration"/>
    </div>
    <div class="SpacerMedium"></div>
    
    <div class="TextNormalStyle">
      Location
    </div>
    <div style="width:320px; position:relative;">
      <div class="textboxPlaceholder"> Toronto, ON, Canada </div>
      <input class="textboxWithPlaceholder" type="text" name="location"/>
    </div>
    <div class="SpacerMedium"></div>
    
    <div class="TextNormalStyle">
      Paid?
    </div>
    <select style="width:320px;">
      <option value="test"> Paid </option>
      <option value="test"> Unpaid </option>
    </select>
    
    <div class="SpacerLarge"></div>
    
    <div class="TextTitle2Style">
      Description
    </div>
    <div class="SpacerMedium"></div>
    
    <div style="width:100%" >
      <textarea style="height:200px;" name="description"></textarea>
    </div>
    
    <div class="SpacerLarge"></div>
    
    <input type="submit" value="Create"/>
  </div>
</div>

{% endblock %}